
body
{
	font-family: 'Londrina Solid', cursive;
	font-size: 1.5rem;
}

#navbar
{
	position: fixed;
	width: 100vw;
	top: 0px;
	left: 0px;
	z-index: 10;
	box-shadow: 3px 3px 3px 3px rgb(0, 100, 0);
	
	background: linear-gradient(45deg, #91350b, #910b3c);
	color: white;
	
}

#footerbar
{	
	background: linear-gradient(45deg, #91350b, #910b3c);
	color: white;
}

#navbar>ul, #footerbar>ul
{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

#navbar>ul>li, #footerbar>ul>li
{
	width: 200px;
	height: 50px;
	background: linear-gradient(135deg, #910b3c, #91350b);
}

#navbar>ul>li:hover, #footerbar>ul>li:hover
{
	background: none;
	animation-name: button-dilatation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes button-dilatation
{
	100%
	{
		background-color: #0b912f;
		border-radius: 10px;
		padding-left: 25px;
	}
}

#navbar>ul>li>a:visited, #footerbar>ul>li>a:visited
{
	color: white;
	text-decoration: none;
}
#navbar>ul>li>a, #footerbar>ul>li>a
{
	color: white;
	text-decoration: none;
}

#welcome-section/*, #projects*/
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	background-color: /*#20ff49dd;*/ #0b912f;
	color: white;
}

#projects
{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100vh;*/
	
	background-color: rgb(220, 220, 220);
	
}

.project-tile
{
	text-align: center;
	background-color: rgb(200, 200, 200);
	
	box-shadow: 3px 3px 3px 3px rgb(0, 100, 0);
}

.projects-grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

img
{
	max-width: 80%;
	height: auto;
	border-radius: 50%;
	opacity: 0.8;
	
}

img:hover
{
	animation-name: image-radius;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes image-radius
{
	0%{
		border-radius: 50%;
		opacity: 0.8;
	}
	100%{
		border-radius: 0%;
		opacity: 1.0;
	}
}


figcaption
{
	padding: 0px;
	background-color: #20ff49dd;
}

#welcome-message
{
	font-size: 3rem;
	
	animation-name: welcome-message-opacity;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

#studio-name
{
		font-size: 7rem;
		text-align: center;
		
}

#studio-activity
{
	font-size: 5rem;
	text-align: center;
}

@keyframes welcome-message-opacity
{
	0%
	{
		opacity: 1.0;
	}
	50%
	{
		opacity: 0.0;
	}
	100%
	{
		opacity: 1.0;
	}
}

@media(orientation: portrait)
{
	.projects-grid
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}

}
